body {
  margin: 0;
  line-height: normal;
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 166px;
  width: 119px;
  height: 105px;
  object-fit: cover;
}
.login-to-your-account {
  position: relative;
  display: inline-block;
}
.frame-div33,
.frame-div34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-div33 {
  justify-content: flex-start;
  font-size: var(--font-size-2xl);
}
.email-div1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.frame-div37,
.frame-div38 {
  display: flex;
  justify-content: flex-start;
}
.frame-div38 {
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 420px;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-2xs);
  align-items: center;
  color: var(--gray-5);
}
.frame-div37 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xs);
}
.input2 {
  border: 0;
  font-family: var(--font-nunito-sans);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  position: relative;
  color: var(--gray-5);
  text-align: left;
  display: inline-block;
}
.frame-div41 {
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 420px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-2xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.iconcheckboxunfilled-div1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-purple);
  border: 2px solid var(--color-purple);
  box-sizing: border-box;
}
.check-solid-2-icon1 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 7.14%;
  right: 8.33%;
  bottom: 9.52%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-div1 {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.checkbox-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.forgot-password-div {
  position: relative;
  font-weight: 600;
  color: var(--color-violet);
  display: inline-block;
}
.frame-div36,
.frame-div39,
.frame-div42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div42 {
  flex-direction: row;
  gap: 222px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-300);
}
.frame-div36,
.frame-div39 {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-div36 {
  gap: var(--gap-lg);
}
.login-div {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 800;
  font-family: var(--font-nunito-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
login-div:hover {
  background-color: yellow;
}
.frame-button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-2xs) var(--padding-xs);
  background-color: var(--color-green);
  border-radius: var(--br-sm);
  width: 420px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
frame-button11:hover{
  background color: black;
}

.frame-div35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.create-an-account {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: var(--color-violet);
  display: inline-block;
}
.frame-div43 {
  height: 25px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  color: var(--gray-3);
}
.back-to-home-page1 {
  text-decoration: none;
  position: relative;
  color: var(--color-violet);
  display: inline-block;
}
.frame-div32 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 459px;
  height: 536px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xl);
}
.rhs-div1,
.th-1-11 {
  position: absolute;
  top: 93px;
  left: 675px;
  width: 459px;
  height: 617px;
}
.th-1-11 {
  top: 0;
  left: 0;
  width: 675px;
  height: 976px;
  object-fit: cover;
}
.thumbnail-div {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 0 45px #e1c2a8;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 798px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-600);
  font-family: var(--font-nunito-sans);
}